<div class="landing-content">
    <div class="info">
        <button class="info-btn" (click)="openInfo()">
            <img src="/img/elementos/btn_info.png" alt="Información">
        </button>
    </div>

    <div class="title">
        <img class="title-frame" src="/img/elementos/marco_titulo.png" alt="Marco del título">
        <img class="title-text" src="/img/elementos/texto_titulo.png" alt="Título del juego">
    </div>

    <div class="btn-start">
        <button class="start-btn" (click)="startGame()">
            <img src="/img/elementos/btn_inicio.png" alt="Comenzar juego">
        </button>
    </div>
</div>
