<h2>Administrador</h2>

<button class="btn-register" mat-raised-button routerLink="/EmpleadoProyecto/Create">
    <mat-icon>add_circle</mat-icon> Registrar Pizza
</button>

<mat-card class="contenedor-tabla">
    <app-base-table
        [data]="pizzaData"
        [columns]="columnasMostrar"
        [tooltipColumns]="[]"
        [statusLabels]="{ true: 'Activo', false: 'Inactivo' }"
        (onEdit)="editarPizza($event)"
        (onDelete)="eliminarPizza($event)">
    </app-base-table>
</mat-card>