<div class="contenedor-formulario">
    <h1 class="kanit-bold">Iniciar Sesión </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formulario">
        <!-- Username -->
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.get('username')?.invalid">
                Usuario requerido
            </mat-error>
        </mat-form-field>
    
        <!-- Password -->
            <!-- Password -->
    <mat-form-field appearance="outline" style="display: block; margin-bottom: 0.5rem;">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <!-- Boton Ver Contraseña -->
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Mostrar contraseña'" type="button">
            <mat-icon class="mat-icon-view">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <!-- Validaciones -->
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            La contraseña es requerida
        </mat-error>
    </mat-form-field>
    
        <button mat-raised-button type="submit" [disabled]="loginForm.invalid">
            Entrar
        </button>

        <!-- <button class="btn-google" mat-raised-button (click)="loginWithGoogle()">
            Iniciar con Google
        </button> -->

        <!-- <div class="register-link" style="text-align: center;">
            ¿No tienes cuenta? <a routerLink="/Register">Regístrate</a>
        </div> -->
    </form>
</div>

